html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

input {
  border: 0px; }

.header .header-ul {
  display: flex; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fcf3f3; }

.header {
  background-image: linear-gradient(to bottom right, #fd0bd5, #25f1f8);
  height: 70px;
  width: 100%;
  position: fixed; }
  .header .header-ul {
    justify-content: space-evenly; }
  .header .header-li a {
    line-height: 70px;
    padding: 10px;
    color: #141212; }

.bg {
  background-color: #bfbaf0; }

.container .section-container {
  padding: 120px 30px; }
  .container .section-container .article {
    position: relative;
    margin-bottom: 10px; }
    .container .section-container .article .h1 {
      margin-top: 25px;
      font-size: 30px;
      color: #612e9b; }
    .container .section-container .article .p {
      font-size: 18px;
      padding: 15px; }
    .container .section-container .article .a {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 10px;
      color: #612e9b; }
      .container .section-container .article .a:hover {
        font-size: 20px; }
